	<p>Individual Business</p>
	<div id="Businesses">
		<h3>Business</h3>
		<div class="Businesses">
		{{#with business}}
			{{!-- {{#each business}} --}}

				<div class="bizResult">
					<p class="bizName">{{biz_name}}</p>
					<p class="bizDesc">Description: {{biz_desc}}</p>
					<p class="bizCat">Category: {{biz_cat}}</p>
					<p class="bizimage">Image URL: {{biz_image}}</p>
					<p class="bizstreet">Address: {{biz_street}}</p>
					<p class="bizCity">City: {{biz_city}}</p>
					<p class="bizState">State: {{biz_state}}</p>
					<p class="bizLat">Geo Lat: {{biz_lat}}</p>
					<p class="bizLong">Geo Long: {{biz_long}}</p>
					<p class="bizCreateAt">Created At: {{createdAt}}</p>
					<p class="bizUpdateAt">Updated At: {{updatedAt}}</p>
				</div>

			{{!-- {{/each}} --}}
		{{/with}}
		</div>
	</div>