{{#with business}}
{{!-- {{#each business}} --}}
	<div class = 'fit-90' id='eliminate-whitespace'>
		<div id = 'primary-business-info'>
			<div id = 'business-name'>{{biz_name}}</div>
			<br>
			<div id = 'business-image'></div>
			<div id = 'business-information'>
				<div class = 'business-attribute'>
					<span class = 'desc-label'>category:</span>
					<span class = 'desc-content'>{{biz_cat}}</span>
				</div>
				<div class = 'business-attribute'>
					<span class = 'desc-label'>address:</span>
					<span class = 'desc-content'>{{biz_street}}, {{biz_city}}, {{biz_state}}</span>
				</div>
				<div class = 'business-attribute'>
					<span class = 'desc-label'>what we do:</span>
					<span class = 'desc-content'>{{biz_desc}}</span>
				</div>
			</div>
			<br>
			<div id='individual-business-map'>
				{{#if biz_lat}}
				 <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{biz_lat}},{{biz_long}}&amp;key=AIzaSyCHIwflHyQ2bFuxjJFZ-6kWdy-SBLyxBfs"></iframe>
				{{/if}}
			</div>
		</div>
		<div id = 'deal-container'>
		</div>

		<div id = 'business-deals'>
			<div class = 'deal-panel-30'>
				<div class = 'deal-panel-header'>
					awesome deal
				</div>
				<div class = 'deal-panel-content'>
					content of awesome deal
				</div>
			</div>
			<div class = 'deal-panel-30'>
				<div class = 'deal-panel-header'>
					awesome deal
				</div>
				<div class = 'deal-panel-content'>
					content of awesome deal
				</div>
			</div>
			<div class = 'deal-panel-30'>
				<div class = 'deal-panel-header'>
					awesome deal
				</div>
				<div class = 'deal-panel-content'>
					content of awesome deal
				</div>
			</div>
		</div>
		<form id = 'create-deal' action = '/create/offer/{{id}}' method = 'GET'> 
		<!--<form id = 'create-deal' action = '/api/offers/new/{{id}}' method = 'GET'>-->
			<button class = 'edit-business-info-button' id='deal-button' type = 'submit' title = 'create deal'>create deal</button>
		</form>
		<form id = 'create-deal' action = '/create/offer/{{id}}' method = 'GET'> 
			<button class = 'edit-business-info-button'>edit info</button>
		</form>
		<p class="bizCreateAt">Created At: {{createdAt}}</p>
		<p class="bizUpdateAt">Updated At: {{updatedAt}}</p>
	</div>

{{!-- {{/each}} --}}
{{/with}}
