
<div class="col-xs-0 col-sm-1 col-md-2"></div>

<div class="col-xs-12 col-sm-10 col-md-7 col-lg-5">

	<h1>Angie's List of Businesses</h1>

	<p>List of Businesses in the DB</p>

	<div id="Businesses">
		<h2>Businesses</h2>
		<div class="Businesses">
		{{#each businesses}}
			<div class="bizResult">
				<p class="bizName">{{this.biz_name}}</p>
				<p class="bizDesc">Description: {{this.biz_desc}}</p>
				<p class="bizCat">Category: {{this.biz_cat}}</p>
				<p class="bizimage">Image URL: {{this.biz_image}}</p>
				<p class="bizstreet">Address: {{this.biz_street}}</p>
				<p class="bizCity">City: {{this.biz_city}}</p>
				<p class="bizState">State: {{this.biz_state}}</p>
				<p class="bizLat">Geo Lat: {{this.biz_lat}}</p>
				<p class="bizLong">Geo Long: {{this.biz_long}}</p>
				<p class="bizCreateAt">Created At: {{this.createdAt}}</p>
				<p class="bizUpdateAt">Updated At: {{this.updatedAt}}</p>
			</div>
		{{/each}}
		</div>
	</div>
</div>
<div class="col-xs-0 col-sm-1 col-md-3 col-lg-5"></div>

